<form id="createPlanetForm" action="/planet" method="post">
    <div>
        <label for="name">Planet Name</label>
        <input name="name" type="text">
    </div>
    <div>
        <label for="image_url">Enter Image Link</label>
        <input name="image_url"type="text">
    </div>
    <div>
        <label for="diameter">Planet Diameter</label>
        <input name="diameter"type="number">
    </div>
    <div>
        <label for="distance">Diatance From Earth</label>
        <input name="distance"type="number">
    </div>
    <div>
        <label for="mass">Mass Of The Planet</label>
        <input name="mass"type="number">
    </div>
    <div>
        <label for="moon_count">Number of Moons</label>
        <input name="moon_count"type="number">
    </div>
    
    <div>
        <div>  </div>
        <button id="saveButton">Save</button>
    </div>
</form>